<?xml version="1.0"?><!--
  ~ Copyright (C) Licentia, Unipessoal LDA
  ~
  ~ NOTICE OF LICENSE
  ~
  ~  This source file is subject to the EULA
  ~  that is bundled with this package in the file LICENSE.txt.
  ~  It is also available through the world-wide-web at this URL:
  ~  https://www.greenflyingpanda.com/panda-license.txt
  ~
  ~  @title      Licentia Panda - Magento® Sales Automation Extension
  ~  @package    Licentia
  ~  @author     Bento Vilas Boas <bento@licentia.pt>
  ~  @copyright  Copyright (c) Licentia - https://licentia.pt
  ~  @license    https://www.greenflyingpanda.com/panda-license.txt
  ~
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <panda_import>
            <import>
                <template>panda_import_import_template</template>
            </import>
        </panda_import>
        <captcha>
            <adminhtml>
                <areas>
                    <panda_import>
                        <label>Panda - Sales Automation - Import</label>
                    </panda_import>
                </areas>
            </adminhtml>
        </captcha>
    </default>
</config>
