<?xml version="1.0"?><!--
  ~ Copyright (C) Licentia, Unipessoal LDA
  ~
  ~ NOTICE OF LICENSE
  ~
  ~  This source file is subject to the EULA
  ~  that is bundled with this package in the file LICENSE.txt.
  ~  It is also available through the world-wide-web at this URL:
  ~  https://www.greenflyingpanda.com/panda-license.txt
  ~
  ~  @title      Licentia Panda - Magento® Sales Automation Extension
  ~  @package    Licentia
  ~  @author     Bento Vilas Boas <bento@licentia.pt>
  ~  @copyright  Copyright (c) Licentia - https://licentia.pt
  ~  @license    https://www.greenflyingpanda.com/panda-license.txt
  ~
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="licentia" translate="label" sortOrder="1200">
            <label>Green Flying Panda</label>
        </tab>
        <section id="panda_import" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Import</label>
            <tab>licentia</tab>
            <resource>Licentia_Import::config_import</resource>
            <group id="import" showInWebsite="1" showInStore="1" showInDefault="1" sortOrder="10">
                <label>Import</label>
                <field id="template" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Email Entry Validation Template</label>
                    <comment>Email template chosen based on theme fallback when "Default" option is selected.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="notify" sortOrder="20" showInDefault="1" type="text" showInStore="1" showInWebsite="1" translate="label comment">
                    <label>New Entries Notification</label>
                    <comment>Notify the following addresses of new form entries</comment>
                </field>
                <field id="notify_template" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Email Notification Template</label>
                    <comment>Email template chosen based on theme fallback when "Default" option is selected.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="protect" sortOrder="50" showInDefault="1" type="text" showInStore="0" showInWebsite="0" translate="label comment">
                    <label>Uploaded files custom Path</label>
                    <comment>This path will be used to store files and images uploaded to your store and that you wish to protect from direct URL access. You should specify a full path, that is not in your DOCUMENT_ROOT. If you change this value, remember to also move the files from the current directory to the new one</comment>
                </field>
            </group>
        </section>
    </system>
</config>
